<div class="jumbotron text-center">
  <h1>Fun With Physics</h1>
  <p>Simulate and watch as the simulation unfolds</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h3>Planetary systems</h3>
      <hr>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Voluptatibus iusto ut a qui molestias itaque 
        perspiciatis facilis! Iusto odit, totam inventore, cumque voluptatem 
        vitae eaque alias nam provident, fugit aliquid.
      </p>
      <a routerLink="/solar" class="btn btn-info">Planetary Systems</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h3>Quantum mechanics</h3>
      <hr>
      <p>
        Here you can compute eigenfunctions of oneparticle quantum mechanical 
        systems in one and two dimensions for different potentials and watch the 
        time evolution of a user defined linear combination of the eigenfunctions.  
      </p>
      <a class="btn btn-info" routerLink="/quantum">Quantum Mechanics</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h3>Ising model</h3>
      <hr>
      <p>
        Interact with a two dimensional Ising model in an external magnetic field.
      </p>
      <a routerLink="/ising" class="btn btn-info">Ising model</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h3>Diffusion equation</h3>
      <hr>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto 
        ut a qui molestias itaque perspiciatis facilis! Iusto odit, totam inventore, 
        cumque voluptatem vitae eaque alias nam provident, fugit aliquid.
      </p>
      <a routerLink="/diffusion" class="btn btn-info">Diffusion equation</a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <h3>Wave equation</h3>
      <hr>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto 
        ut a qui molestias itaque perspiciatis facilis! Iusto odit, totam inventore, 
        cumque voluptatem vitae eaque alias nam provident, fugit aliquid.
      </p>
      <a routerLink="/wave" class="btn btn-info">Wave equation</a>
    </div>
  </div>
</div>