<div class="jumbotron text-center">
  <h1>Fun With Physics</h1>
  <p>Simulate and watch as the simulation unfolds</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Planetary systems</h3>
      <hr>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto ut a qui molestias itaque perspiciatis facilis! Iusto odit, totam inventore, cumque voluptatem vitae eaque alias nam provident, fugit aliquid.</p>
      <a routerLink="/solar" class="btn btn-primary">Planetary Systems</a>
    </div>
    <div class="col-md-4">
      <h3>Quantum realm</h3>
      <hr>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto ut a qui molestias itaque perspiciatis facilis! Iusto odit, totam inventore, cumque voluptatem vitae eaque alias nam provident, fugit aliquid.</p>
      <a class="btn btn-primary" routerLink="/quantum">Quantum Mechanics</a>
    </div>
    <div class="col-md-4">
      <h3>El Mag</h3>        
      <hr>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus iusto ut a qui molestias itaque perspiciatis facilis! Iusto odit, totam inventore, cumque voluptatem vitae eaque alias nam provident, fugit aliquid.</p>        
      <a class="btn btn-primary" routerLink="/elmag">Electromagnetism</a>
    </div>
  </div>
</div>