<div class="container">
  <h1>Diffusion equation</h1>
  <button class="btn btn-info" routerLink="/diffusion/simulation">Simulate</button>
  <hr>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fugiat 
    saepe iusto laudantium sunt iure. Laudantium aspernatur voluptatem vitae 
    commodi incidunt. Esse dolor distinctio eius, corrupti quisquam provident 
    blanditiis pariatur.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, 
    expedita labore nihil excepturi explicabo consectetur aliquam assumenda eum 
    culpa harum sequi at fugit molestias fuga possimus esse quisquam porro fugiat!
  </p>
</div>