<div class="container">
  <h1>Eigenfunctions</h1>
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Simulations
    </button>
    <div style="cursor:pointer;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/quantum/eigenfunctions/simulation/1d">1D</a>
      <a class="dropdown-item" routerLink="/quantum/eigenfunctions/simulation/2d">2D</a>
    </div>
  </div>
  <hr>
  <div>{{ testString }}</div>
</div>