<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>
        Eigenfunctions
        <div class="dropdown float-right">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Potentials: ({{ potential }})
          </button>
          <div style="cursor:pointer;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="onSetPotential('HO')">Harmonic oscillator (HO)</a>
            <a class="dropdown-item" (click)="onSetPotential('DW')">Double well (DW)</a>
            <a class="dropdown-item" (click)="onSetPotential('HO')">Something else here</a>
          </div>
        </div>
      </h3>
      <hr>
      <div id="plot"></div>
    </div>
    <div class="col-md-6">
      <h3>Time Evolution <button class="btn btn-info float-right" (click)="onGetSimulation()">Simulate</button></h3>
      <hr>
      <div id="animation"></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div style="border-left: solid 1px rgb(230, 230, 230)" class="col-md-2 offset-md-2 text-center">
      <h5>L<sub>x</sub></h5>
      <button class="btn btn-secondary btn-sm" (click)="onLxDown()">-</button>
      <span>{{ params.lx }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onLxUp()">+</button>
    </div>
    <div class="col-md-2 text-center">
      <h5>N<sub>grid</sub></h5>
      <button class="btn btn-secondary btn-sm" (click)="onNgDown()">-</button>
      <span>{{ params.ng }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onNgUp()">+</button>
    </div>
    <div class="col-md-2 text-center">
      <h5>N<sub>states</sub></h5>
      <button class="btn btn-secondary btn-sm" (click)="onNstatesDown()">-</button>
      <span>{{ params.nstates }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onNstatesUp()">+</button>
    </div>
    <div class="col-md-2 text-center">
      <h5>T<sub>final</sub></h5>
      <button class="btn btn-secondary btn-sm" (click)="onTfinalDown()">-</button>
      <span>{{ params.tfinal.toFixed(2) }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onTfinalUp()">+</button>
    </div>
    <div class="col-md-2 text-center">
      <h5>&Delta;t</h5>
      <button class="btn btn-secondary btn-sm" (click)="onDtDown()">-</button>
      <span>{{ params.dt.toFixed(2) }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onDtUp()">+</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div style="border-right: solid 1px  rgb(230, 230, 230)" class="col-md-2 text-center">
      <strong>Potential Parameters</strong> 
    </div>
    <div *ngIf="potential === 'HO' || potential === 'DW'" class="col-md-2 text-center">
      <h5>&omega;</h5>
      <button class="btn btn-secondary btn-sm" (click)="onOmegaDown()">-</button>
      <span>{{ params.omega.toFixed(2) }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onOmegaUp()">+</button>
    </div>
    <div *ngIf="potential === 'DW'" class="col-md-2 text-center">
      <h5>R</h5>
      <button class="btn btn-secondary btn-sm" (click)="onRDown()">-</button>
      <span>{{ params.R.toFixed(2) }}</span>
      <button class="btn btn-secondary btn-sm" (click)="onRUp()">+</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div style="border-right: solid 1px rgb(230, 230, 230)" class="col-md-2 text-center">
      <strong>Coefficients</strong> 
    </div>
    <div class="col-md-10">
      <div class="row">
        <div *ngFor="let coeff of params.coeffs; index as i" class="col-md-2 text-center">
          <h5>c{{ i + 1 }}</h5>
          <button class="btn btn-secondary btn-sm" (click)="onCDown(i)">-</button>
          <span>{{ coeff.toFixed(1) }}</span>
          <button class="btn btn-secondary btn-sm" (click)="onCUp(i)">+</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>

  
  