<div class="container">
  <h1>Quantum mechanics</h1>
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Systems
    </button>
    <div style="cursor:pointer;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/quantum/eigenfunctions/theory">Eigenfunctions</a>
      <a class="dropdown-item" routerLink="/quantum/eigenfunctions/theory">type2</a>
    </div>
  </div>
  <hr>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nihil obcaecati eum inventore 
    est error officia molestias quo. Facere nam sapiente quaerat sequi ipsam minima soluta quas
    obcaecati similique tempora?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas veritatis 
    quam repellat aut. Reprehenderit, adipisci repellendus libero commodi voluptatibus corporis, 
    eligendi asperiores, repellat facilis eaque nam aliquam natus sed.
  </p>
</div>