<div class="container">
  <h1>Wave equation</h1>
  <hr>
  <div class="row">
    <div class="col-lg-8 col-xs-12">
      <div id="animation"></div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="container">
        <h4>
          Parameters
        </h4>
        <hr>
        <div class="row">
          <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Param name: 
          </div>
          <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm">-</button>
            <span>10</span>
            <button class="btn btn-secondary btn-sm">+</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Param name: 
          </div>
          <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm">-</button>
            <span>10</span>
            <button class="btn btn-secondary btn-sm">+</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            Param name: 
          </div>
          <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm">-</button>
            <span>10</span>
            <button class="btn btn-secondary btn-sm">+</button>
          </div>
        </div>
      </div>

      <hr>
      <div *ngIf="!loading; else loadingScreen">  
        <button class="btn btn-info float-right">Get sim</button>
      </div>
      <div *ngIf="simulation">  
        <button class="btn btn-info float-right">Restart</button>
      </div>
    </div>
  </div>
</div>


<ng-template #loadingScreen>
  <p><strong>Loading...</strong></p>
</ng-template>
    