<div class="container">

  <h1>Solar systems</h1>
  <a class="btn btn-info" routerLink="/solar/simulation">Simulate</a>
  <hr>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nihil obcaecati eum inventore 
    est error officia molestias quo. Facere nam sapiente quaerat sequi ipsam minima soluta quas
    obcaecati similique tempora?
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas veritatis 
    quam repellat aut. Reprehenderit, adipisci repellendus libero commodi voluptatibus corporis, 
    eligendi asperiores, repellat facilis eaque nam aliquam natus sed.
  </p>
</div>