<div class="container">
  <div class="h1">Quantum tunneling</div>
  <hr>
  <div class="row">
    <div class="col-lg-8">
      <div id="animation"></div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="container">
        <h4>
          Parameters
        </h4>
        <hr>
        <div class="row">
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            V<sub>0</sub> :  
          </div>
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm" (click)="onVDown()">-</button>
            <span>{{ V }}</span>
            <button class="btn btn-secondary btn-sm" (click)="onVUp()">+</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            L : 
          </div>
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm" (click)="onLDown()">-</button>
            <span>{{ L.toFixed(1) }}</span>
            <button class="btn btn-secondary btn-sm" (click)="onLUp()">+</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            p<sub>0</sub> : 
          </div>
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm" (click)="onpDown()">-</button>
            <span>{{ p.toFixed(1) }}</span>
            <button class="btn btn-secondary btn-sm" (click)="onpUp()">+</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            x<sub>0</sub> : 
          </div>
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm" (click)="onxDown()">-</button>
            <span>{{ x.toFixed(1) }}</span>
            <button class="btn btn-secondary btn-sm" (click)="onxUp()">+</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            &alpha;<sub>0</sub> : 
          </div>
          <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-secondary btn-sm" (click)="onalphaDown()">-</button>
            <span>{{ alpha.toFixed(1) }}</span>
            <button class="btn btn-secondary btn-sm" (click)="onalphaUp()">+</button>
          </div>
        </div>
      </div>   
      <hr> 
      <button class="btn btn-info" (click)="onGetSimulation()">Simulate</button>
    </div>
  </div>
</div>