  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div id="animation"></div>
      </div>
      <div class="col-md-3">
        <div *ngFor="let planet of preDefinedPlanets" class="col-md-2">
          <div>{{ planet.name }}</div>
        </div>
        <div *ngIf="!loading; else loadingScreen">  
          <button class="btn btn-primary" (click)="onGetSimulation()">Simulate</button>
        </div>
      </div>
    </div>
  </div>


<ng-template #loadingScreen>
  <p><strong>Loading...</strong></p>
</ng-template>



