<div class="container">
  <h1>Wave equation</h1>
  <button class="btn btn-info" routerLink="/wave/simulation">Simulate</button>
  <hr>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam natus 
    quasi neque quo quos sed recusandae esse, enim corporis nobis a ducimus 
    libero odio maiores, iusto inventore, debitis laborum? Eligendi?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quas deleniti 
    veritatis laboriosam distinctio enim deserunt reiciendis, perferendis dolores 
    maxime esse repudiandae sint quam, repellendus labore cum quos rem consequuntur?
  </p>
  
</div>